<h1>Don't Forget About Dre</h1>

<p>I have always thought that wearing at least one item steeped in history or design makes quite a difference in one’s outfit. 
I think I love vintage for many reasons. One of the reasons is learning about how style was dictated by what was happening in the world during that time.</p>

<button type="" class="btn btn-primary" {{action 'showNovelDetails'}} >Click Here to Learn about Novel Details</button> 

{{#if isPictureShowing}}
<p><img src="media/dreWall.jpg" class="img-responsive"></p>
{{else}}
<button type="" class="btn btn-primary" {{action 'showDre'}} >Click Here to see Andrea</button> 
{{/if}}
